# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# testing
/frontend/coverage

# production
frontend/build

# misc
frontend/.env
frontend/package-lock.json
frontend/tool
yaml/results/*
cmd/client
config
CA
setup-script

.env
*.sh
*.log
.DS_Store