# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
frontend-yarn

frontend/node_modules
frontend/build
frontend/.env
frontend/tool
sing-box-full-platform/
setup-rocket.chat/
setup-script*
config/geo/
config/1121*

# include logs, but exclude everything else in the directory
logs/*
!logs/
cloudflare/

development/
CA
cmd/init.go
cmd/dev.go

logv2fs
.env
*.sh
*.log
.DS_Store
*.old
.dockerignore
docker-compose.yml
Dockerfile
TODO.MD
config/template_singbox_new1.10.json
