# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
frontend-yarn

frontend/node_modules
frontend/build
frontend/.env
frontend/tool
sing-box-full-platform/
setup-rocket.chat/

config/results/*
development/
CA
setup-script*
cmd/init.go
cmd/dev.go
ui/

.env
*.sh
*.log
.DS_Store
*.old
.dockerignore
docker-compose.yml
Dockerfile
TODO-Development.MD