.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.login-main {
	min-height: 100vh;
	color: rgba(51, 29, 29, 0.5);
}

.login-main .card {
	background-color: rgba(252, 252, 252, 0.719);
}

.content {
	flex: 1;
}

.main nav.navbar {
	width: 100%;
}

.home-list {
	background-color: #343434 !important;
}

.home-list ol li {
	background-color: transparent;
	color: rgba(228, 208, 208, 0.8);
	border-bottom: 1px solid rgba(204, 173, 173, 0.877);
}

.home-list ol.list-group.list-group-striped li:nth-of-type(odd) {
	background: rgba(52, 52, 52, 1);
}
.home-list ol.list-group.list-group-striped li:nth-of-type(even) {
	background: rgba(41, 44, 49, 1);
}
.home-list ol.list-group.list-group-hover li:hover {
	background: rgba(110, 116, 98, 0.2);
}

.home-traffic-fs {
	font-size: 14px;
}

.home-list .accordion-item {
	background-color: rgb(66, 55, 62);
	border: none;
}
.home-list .accordion-item .accordion-header {
	font-size: 14px;
}
.home-list .accordion-item .accordion-header button.accordion-button {
	padding: 0;
}
.home-list .accordion-item .accordion-body {
	background-color: transparent;
}

.modal-content {
	background-color: rgba(200, 200, 200, 1) !important;
	color: rgba(51, 29, 29, 1) !important;
}

.myToolTip > .tooltip-inner {
	max-width: 100%;
	text-align: left;
}

.info-hover {
	border-bottom: 4px solid transparent;
}
.info-hover:hover {
	border-bottom: 4px solid #d5ba5e;
}

.inline {
	display: inline-block !important;
	font-size: 1rem;
}

.mypanel-row {
	margin: 0 auto !important;
	border: 1px solid #343434 !important;
	border-radius: 10px !important;
	background-color: #343434 !important;
}

.mypanel-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	text-align: center;
	padding: 20px auto;
}
.mypanel-card .h3 {
	color: rgba(255, 255, 255, 0.8);
	margin: 0px auto;
}

.mypanel-card p {
	margin: 0px auto;
	color: rgba(255, 255, 255, 0.4);
	font-size: small;
}

.tap-to-copied {
	padding-bottom: 5px;
}

.tap-to-copied-badge {
	cursor: copy;
}

.tap-to-copied span.h5 {
	border-bottom: 1px solid rgb(236, 238, 138);
	padding: 3px;
}

@media screen and (min-width: 600px) {
	.card {
		width: 25rem;
		height: calc(0.675 * 25rem);
	}
}
