.App {
	text-align: center;
}

.main {
	display: flex;
    flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

.main nav.navbar {
	width: 100%;
}

.card {
	width: 30rem;
	height: calc(0.675 * 30rem);
}

ol.list-group li {
	background-color: transparent;
}

.myToolTip > .tooltip-inner {
	max-width: 100%;
	text-align: left;
}

.info-hover {
	border-bottom: 4px solid transparent;;
}
.info-hover:hover {
	border-bottom: 4px solid #D5BA5E;
}

.inline {
	display: inline-block !important;
	font-size: 1rem;
}

.user-page-card {
	height: auto;
	width: auto;
}