body {
    font-family: Optima-Regular,Optima,PingFangSC-light,PingFangTC-light,'PingFang SC',Cambria,Cochin,Georgia,Times,'Times New Roman',serif;
    background-color: #f7f7f7;
}

#root {
    min-height: 100vh;
}